BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 80
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
PointerAlignment: Right
ContinuationIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
ReflowComments: true
MaxEmptyLinesToKeep: 1
Cpp11BracedListStyle: false
BreakConstructorInitializers: AfterColon
PenaltyBreakComment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 200
